#contact {
    width: 111%;
  }
.btn-main{
  background: linear-gradient(to right,#00e0fe,#1107fe);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color:white;
  height: 30px;

}

.btn-main:hover{
  color: #fff;
  transform: translateY(-5px);
}