.section-intro{
    margin-bottom: 40px;
}

.section-intro .divider{
    height: 3px;
    background:  linear-gradient(to right , #00e0fe,#1107fe);
    margin: 16px auto;
}

section{
    padding-top: -300px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

img{
    width: 100%;
}

.service .service-img{
    position: relative;
}
.service .service-img .icon{
 width: 70px;
 height: 70px;   
 background:  linear-gradient(to right , #00e0fe,#1107fe);
 color: #fff;
 border-radius: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 32px;
 position: absolute;
 bottom: -45px;
 right: 150px;
}
