
.progress-bar{
    position: fixed;
    height: 6px;
    border-radius: 0px 2px 0px 0px;
    background: linear-gradient(
      90deg,
      rgba(109, 227, 219, 1) 0%,
      rgba(132, 115, 177, 1) 100%,
      rgba(3, 9, 112, 1) 100%);
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.img-circle{
  border-radius: 40px;
}