@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif}body{background-image: linear-gradient(to right top, #9AF6FB, #7096F8);min-height: 100vh}.wrapper{max-width: 760px;margin: 50px auto;padding: 40px 20px}.wrapper .search{border: 1px solid #c8c8c8;overflow: hidden;border-radius: 25px;padding: 0 10px;margin: 15px 0 20px;transition: all 0.3s}.wrapper .search:hover, .wrapper .search:focus-within{border: 1px solid transparent;box-shadow: 2px 5px 8px #1f1f1f10, 0px -4px 5px #1f1f1f10}.wrapper .search .form-control{box-shadow: none;outline: none;border: none}.wrapper .search .form-control:focus::placeholder{opacity: 0}.wrapper .accordion-button{font-size: 0.9rem;font-weight: 500}.wrapper .accordion-button:hover{background-color: #f8f8f8}.wrapper .accordion-button:focus{box-shadow: none}.wrapper .accordion-button::after{background-size: 1rem;display: flex;align-items: center;justify-content: center;border: 1px solid #c8c8c8;background-position: center center;border-radius: 50%}.wrapper .accordion-button:not(.collapsed){color: #000;background-color: #f7f7f7;font-weight: 600;border-bottom: 1px solid #ddd !important}.accordion-button:not(.collapsed)::after{border-color: #1E88E5}.wrapper .accordion-button.collapsed{border-bottom: 1px solid #ddd !important}.wrapper .accordion-collapse.show{border-bottom: 1px solid #ddd !important}.wrapper .accordion-collapse{background-color: #eaf3fa}.wrapper .accordion-collapse ul li{line-height: 2rem;width: 100%;padding: 0.5rem 1.3rem}.wrapper .accordion-collapse ul li:hover{background-color: #c9e7ff}.wrapper .accordion-collapse ul li a{text-decoration: none;color: #333;font-size: 0.85rem;font-weight: 400;display: block}.wrapper .accordion-collapse ul li:hover a{color: #222}@media (max-width: 777px){.wrapper{margin: 50px 20px}}@media (max-width: 365px){.wrapper{margin: 50px 10px}.w-75{width: 90% !important}}


/* 


.container .table-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(to right, #5D7ECD, #0C91E6);
}


.table>:not(caption)>*>* {
  padding: 2rem 0.5rem;
}

.table tbody td input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.table tbody td input[type="checkbox"]:after {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  color: #fff;
  font-size: 15px;
  display: none;
}

.table tbody td input[type="checkbox"]:checked,
.table tbody td input[type="checkbox"]:checked:hover {
  background-color: #40bfc1;
}

.table tbody td input[type="checkbox"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table tbody td input[type="checkbox"]:hover {
  background-color: #ddd;
}

.table tbody td .img-container {
  width: 50px;
  height: 50px;
}

.table tbody td .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.table tbody,
.table thead {
  background-color: #fff;
}

.table tbody tr td:nth-of-type(1) {
  text-align: center;
  min-width: 70px;
  max-width: 70px;
}

.table tbody tr td:nth-of-type(2) {
  min-width: 300px;
  max-width: 300px;
}


.table tbody tr td:nth-of-type(3) {
  min-width: 150px;
  max-width: 150px;
}

.table tbody tr td:nth-of-type(4) {
  min-width: 300px;
  max-width: 300px;
}

.table tbody tr td:nth-of-type(5) {
  min-width: 50px;
  max-width: 50px;
}

.table tbody tr {
  box-shadow: 0px 2px 3px #1f1f1f1a;
}

.table thead tr {
  border-bottom: 4px solid #E1F5FE;
}

.table tbody td .active,
.table tbody td .waiting {
  background-color: #B9F6CA;
  color: #388E3C;
  font-weight: 600;
  padding: 1px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.table tbody td .waiting {
  background-color: #FFECB3;
  color: #FFA000;
}

.table tbody td .active .circle,
.table tbody td .waiting .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #388E3C;
}

.table tbody td .waiting .circle {
  background-color: #FFA000;
}

.table tbody td .fa-times {
  color: #D32F2F;
  font-size: 0.9rem;
}

.fw-600 {
  font-weight: 600 !important;
}

.fs-09 {
  font-size: 0.9rem;
  font-weight: 500;
}

.text-grey {
  color: #a8a8a8 !important;
}


@media(min-width: 992px) {
  .container .table-wrap {
      overflow: hidden;
  }
}



.contentt
{
    margin: 100px auto;
    width: 1000px;
    background-color: white;
}
.contentt h1
{
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    transition: 0.5s;
}
.contentt p
{
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
    font-size: 18px;
}


.post {
  width: 100%;
}

.reading-progress-bar {
  position: sticky;
  height: 5px;
  top: 0;
  background-color: #ff0000;
}


.inlineimage{max-width:270px;
  margin-right: 8px;
  margin-left: 10px}
  .images{display: inline-block;max-width: 98%;height: auto;width: 22%;margin: 1%;left:20px;text-align: center}


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



.container .carddd
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .carddd:hover
{
    height: 450px;
}
.container .carddd .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .carddd .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}

.wrapp {
  border: 1px solid #cccccc;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: inline-flex;
  flex-wrap: wrap;
}

.container .carddd .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .carddd:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    color: #111;
}

.content p{
  color: #8d40fb;
  margin-left: 2%;
}
@media (max-width: 330px){
    .container .carddd .imgContainer{
        left: -2px;
    }
} */
/*
  .sticky-header {
    background-color: #000;
    color: #fff;
    width:100%;
    position: sticky;  
    top: 0;
    height: 30px;
  } 
  
  body {
    background: #f2f4f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: "Open Sans";
  }
  
  .education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .credentialing {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .human-resources {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  
  .card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
   
  .card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
  }
  
  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  }
  
  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
   
  
  
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
   
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  } */
/* 
  @import url(https://­fonts.googleapis.com/­css?family=Raleway);


.title {
color: #1a1a1a;
text-align: center;
margin-bottom: 10px
}

.content {
position: relative;
width: 90%;
max-width: 400px;
margin: auto;
overflow: hidden
}

.content .content-overlay {
background: #c9def7be;
position: absolute;
height: 99%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
opacity: 1
}

.content-image {
width: 100%
}

img {
box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
border-radius: 5px
}

.content-details {
position: absolute;
text-align: center;
padding-left: 0em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
top: 50%;
left: 50%;
opacity: 1
}

.content-details h3 {
color: #fff;
font-weight: 400;
letter-spacing: 0.15em;
margin-bottom: 0.5em;
text-transform: uppercase
}

.content-details p {
color: #fff;
font-size: 0.7em
}

.fadeIn-bottom {
top: 80%
} 


.wrapper{
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.card{
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background:#fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out ;
}

.card:hover{
  transform:  translate(20px);
}

.card::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom ,rgba(0,176,155,0.5),rgba(150,201,61,1));
  transition: 0.5s all;
  z-index: 2;
  transition: 0.5s all;
  opacity: 1;

}

.card:hover:before{
  opacity: 1;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info{
  position: relative;
  z-index: 3;
  color :#fff;
  opacity:0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);

} */

/* .box15{position:relative}
.box15 img{width: 100px;height:50px}
.box15 .box-content{width:100%;height:100%;position:absolute;top:0;left:0;transition:all .5s ease 0s}
.box15:hover .box-content{background-color:rgba(255,242,242,.8)}
.box15 .box-content:after,.box15 .box-content:before{content:"";width:50px;height:50px;position:absolute;opacity:0;transform:scale(1.5);transition:all .6s ease .3s}
.box15 .box-content:before{border-left:1px solid #040404;border-top:1px solid #040404;top:19px;left:19px}
.box15 .box-content:after{border-bottom:1px solid #040404;border-right:1px solid #040404;bottom:19px;right:19px}
.box15:hover .box-content:after,.box15:hover .box-content:before{opacity:1;transform:scale(1)}
.box15 .title{font-size:22px;color:#000;margin:0;position:relative;top:0;opacity:0;transition:all 1s ease 10ms}
.box15:hover .title{top:39%;opacity:1;transition:all .5s cubic-bezier(1,-.53,.405,1.425) 10ms}
.box15 .title:after{content:"";width:0;height:1px;background:#040404;position:absolute;bottom:-8px;left:0;right:0;margin:0 auto;transition:all 1s ease 0s}
.box15:hover .title:after{width:80%;transition:all 1s ease .8s}
.box15 .icon{width:100%;margin:0 auto;position:absolute;bottom:0;opacity:0;transition-duration:.6s;transition-timing-function:cubic-bezier(1,-.53,.405,1.425);transition-delay:.1s}
.box15:hover .icon{bottom:39%;opacity:1}
.box15 .icon li{display:inline-block}
.box15 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;font-size:18px;color:#000;border:1px solid #000;margin-right:5px;transition:all .3s ease-in-out 0s}
.box15 .icon li a:hover{background:#000;color:#fff}
@media only screen and (max-width:990px){.box15{margin-bottom:30px}
} */
/*  
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css");
.our-services{
  padding: 0 80px;
}
  .our-services .icon{
    margin-bottom: -21px;
    transform: translateY(-50%);
  }
    
  .our-services:hover , 
  .our-services:hover {color: #fff}

  .settings:hover{
    box-shadow: 0 0 12px 0 rgba(20,27,201,.05);
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, #AFB5D9 0%, #DCE3ED 100%);
  }


  .speedup:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)}

      .privacy:hover{box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
      cursor: pointer;background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)}
      
      .backups:hover{box-shadow: 0 0 25px 0 rgba(20,27,201,.05);cursor: pointer;
        border-radius: 10px;  
      background-image: linear-gradient(-45deg, #F1A049 0%, #fdb642 100%)}
      
      .ssl:hover{box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
        border-radius: 10px;  
        cursor: pointer;
        background-image: linear-gradient(-45deg, #A786C2 0%, #8d40fb 100%)}
    
      .database:hover{
      box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
      cursor: pointer;
      border-radius: 10px;
      background-image: linear-gradient(-45deg, #8ed2b0 0%, #8ed2b0 100%)}
 
      .tags-input-container{
        border: 2px solid  rgb(90, 187, 214);
        padding: .5em;
        border-radius: 10px;
        margin-top: 1em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: min(80vw,600px);
        gap: .5em;
      }
      
      .tag-item{
        background-color: rgb(218, 216, 216);
        padding: .5em .75em;
        display: inline-block;
        border-radius: 20px;
      }
      
      .tag-item .close {
        height: 20px;
        width: 20px;
        background-color: rgb(48, 48, 48);
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: .5em;
        font-size: 18px;
        cursor: pointer;
      
      }
      .tags-input{
      flex-grow: 1;
      padding: .5em 0;
      border: 10px;
      outline: none;

      
      } */
      