.main {
    min-height: 77vh;
    background-color:#CAD8E2;
    background-size: cover;
}

.title{
    font-size: 55px;
    color: black;
    font-family: "Trebuchet MS", Verdana, sans-serif;

}
.subtitle{
    font-size: 25px;
    padding-top: 10px;

}

.intro-text{
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 15px;

}

.landingbutton{
    width: 200px;
    height: 55px;
}
.buttonContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

@media only screen and  (min-width:1200px){
    .buttonContainer{
        padding: 0 200px;   
    }
    .title{
        padding: 0 100px;
    }
}
    
