
.about{
	width:100%;
	height: 100%;
	margin-top: 5px;
	background-color:#ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.about-text{
	width: 50%;
}
.about-text h2{
	font-size: 2rem;
	color:#106CAA;
	font-weight: 500;
}
.about-text p{
	font-size: 1.2rem;
	color:#3a3a3a;
	
}
.about-text button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#13AAE3;
}
.about-text button:hover{
	background-color: #AEDCF0;
    transition: all ease 0.3s;
    color: #ffffff;
    box-shadow: 5px 0px 30px rgb(136, 222, 243);
}
.about-model img{
    height: 400px;
}